html {
    background-color: #8E0000;
}

h1 {
    color: #FFFFCC;
    font-size: 85px;
    margin: 0;
    text-align: center;
}

h2 {
    color: #FFFFCC;
    font-size: 65px;
    margin: 0;
    text-align: center;
}

h3 {
    color: #FFFFCC;
    font-size: 40px;
    margin: 5px;
    padding-top: 25px;
    text-align: center;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

#games {
    background-color: black;
    margin: 1%;
}

#games-wrapper {
    display: inline-block;
    position: absolute;
    left: 50%;
}

#games-wrapper p {
    margin: 5px auto 5px auto;
}

.people {
    background-color: black;
    display: inline-block;
    margin: 1%;
    position: relative;
    width: 31%;
}

.rankings {
    color: #FFFFCC;
    font-size: 75px;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    top: -60px;
}

.name {
    color: #FFFFCC;
    font-size: 45px;
    margin: 0;
    text-align: center;
}

.record {
    color: #FFFFCC;
    font-size: 35px;
    margin: 0;
}

.Won-Loss {
    color: #8E0000;
    font-size: 65px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

p {
    color: #FFFFCC;
    font-size: 25px;
    text-align: center;
}

img {
    display: inline-block;
    height: 350px;
}

#line-left {
    background-color: #FFFFCC;
    height: 5px;
    margin-top: -125px;
    width: 31%;
    float: left;
}

#line-right {
    background-color: #FFFFCC;
    height: 5px;
    margin-top: -125px;
    width: 31%;
    float: right;
}

#line-left2 {
    background-color: #FFFFCC;
    height: 15px;
    margin-top: -100px;
    width: 31%;
    float: left;
}

#line-right2 {
    background-color: #FFFFCC;
    height: 15px;
    margin-top: -100px;
    width: 31%;
    float: right;
}
